PORT=8000
MONGODB_URL=mongodb+srv://ayushm050405_db_user:Am@050405@cluster0.xiq0hr5.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=123
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=124
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dc8aaibew
CLOUDINARY_API_KEY=742798822863716
CLOUDINARY_API_SECRET=Gb3sW4jU_WKd1z3n1niLKkpSQak